numpy>=1.20,<2
numpy-financial
Flask>=2.0.0,<2.2.0
Werkzeug==2.0.3
Markdown>=3.3
boto3
networkx
passlib>=1.6.2
matplotlib
xlwt>=0.7.5
requests>=2.20
pandas>=0.24.2
pulp>=1.6.8
scipy>=1.4.1
flask_compress>=1.4.0
plotly>=4.0.0
scikit-learn>=0.23.0
pyproj
gunicorn
pysolar
#fbprophet
tensorflow
xmltodict>=0.12.0
OpenDSSDirect.py[extras]
seaborn
pandapower>=3.1.2,<3.2
haversine
keyring
openpyxl
shapely
geopandas
nrel-pysam>=7.0.0
