<head>
	{{ omfHeaders }}
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-pvWatts" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}" pattern="^[\w\s\d\.-]+$" required="required" readonly>
			</div>
			<div class="shortInput ">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}" readonly/>
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}" readonly/>
			</div>
			{% if modelStatus == 'finished' %}
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}" readonly/>
			</div>
			{% endif %}
			<div class="wideInput">
				<p class="inputSectionHeader">System Specifications</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Latitude<span class="classic">Latitude</span></label>
				<input type="text" id="latitude" name="latitude" value="{{allInputDataDict.latitude}}" pattern="^\-?\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Longitude<span class="classic">Longitude</span></label>
				<input type="text" id="longitude" name="longitude" value="{{allInputDataDict.longitude}}" pattern="^\-?\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">System Size (kWp-DC)<span class="classic">DC output rating of the solar panels in kilowatts.</span></label>
				<input type="text" id="systemSize" name="systemSize" value="{{allInputDataDict.systemSize}}" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Inverter Size (kW-AC)<span class="classic">Size of the total inverters in kW-AC for the system. If zero, it will be set to the system size.</span></label>
				<input type="text" id="inverterSize" name="inverterSize" value="{{allInputDataDict.inverterSize}}" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Advanced Options</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Tracking Mode<span class="classic">Type of tracking system the PV array will use if any.</span></label>
				<select id="trackingMode" name="trackingMode"/>
					<option value="0" {% if allInputDataDict.trackingMode == '0' %}selected{% endif %}>Fixed Open Rack</option>
					<option value="1" {% if allInputDataDict.trackingMode == '1' %}selected{% endif %}>Fixed Roof Rack</option>
					<option value="2" {% if allInputDataDict.trackingMode == '2' %}selected{% endif %}>1 Axis Tracking</option>
					<option value="2" {% if allInputDataDict.trackingMode == '3' %}selected{% endif %}>1 Axis Back Tracking</option>
					<option value="3" {% if allInputDataDict.trackingMode == '4' %}selected{% endif %}>2 Axis Tracking</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Azimuth (degrees)<span class="classic">Cardinal direction the PV system will face. 180 in the northenr hemisphere is due South.</span></label>
				<input type="text" id="azimuth" name="azimuth" value="{{allInputDataDict.azimuth}}" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Tracker Rotation Limit (degrees)<span class="classic">How far each module in a tracking system is able to rotate if on a tracker, measured from the horizontal.</span></label>
				<input type="text" id="rotlim" name="rotlim" value="{{allInputDataDict.rotlim}}" pattern="^\d+\.?\d*$" required="required"/>
			</div>
		<div class="shortInput">
				<label class="tooltip">Tilt (degrees)<span class="classic">The tilt of the solar panels measured as an angle in degrees between panels and ground. If '-' is entered, the latitude of the zipcode will be used.</span></label>
				<input type="text" id="tilt" name="tilt" value="{{allInputDataDict.tilt}}" pattern="^(90|[1-8]\d|\d)?$|-" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Inverter Efficiency (%)<span class="classic">Inverter Efficiency in converting DC power to AC power. It can be obtained from the Weighted Efficiency (CEC) Method.</span></label>
				<input type="text" id="inverterEfficiency" name="inverterEfficiency" value="{{allInputDataDict.inverterEfficiency}}" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required"/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Simulation Specifications</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Simulation Start Date (YYYY-MM-DD)<span class="classic">1998-2024 accepted</span></label>
				<input type="text" id="simStartDate" name="simStartDate" value="{{allInputDataDict.simStartDate}}" pattern="^\d\d\d\d-\d\d-\d\d$" required="required">
			</div>
			<div class="shortInput">
				<label>Simulation Length</label>
				<input type="text" id="simLength" name="simLength" value="{{allInputDataDict.simLength}}" pattern="^\d+$" required="required" >
			</div>
			<div class="shortInput">
				<label>Length Units</label>
				<select id="simLengthUnits" name="simLengthUnits" value="{{allInputDataDict.simLengthUnits}}">
					<!--<option value="minutes">Minutes</option> -->
					<option value="hours" {% if allInputDataDict.simLengthUnits == 'hours' %}selected{% endif %}>Hours</option>
					<option value="days" {% if allInputDataDict.simLengthUnits == 'days' %}selected{% endif %}>Days</option>
				</select>
			</div>
			<input type="hidden" id="setYear" name="setYear" value="{{allInputDataDict.setYear}}">
			{{ omfModelButtons }}
		</form>
	</div>
	<div id="copyrightNotice" style="width:1000px; margin:-25px auto 10px auto; padding-left:5px; color:gray">PVWatts &copy; was developed by the <a href="http://pvwatts.nrel.gov/">National Renewable Energy Lab</a></div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
	<div id="output">
		<div style="text-align:left" class="content">
			<p id="dataLocation">Showing data for longitude and latitude {{allOutputDataDict.longitude}}, {{allOutputDataDict.latitude}} </p>
		</div>
		<script type="text/javascript">
			// Global Highcharts settings.
			Highcharts.setOptions({global:{useUTC:true}})
			// Clean up the non-ISO date strings we get.
			function dateOb(inStr) {return Date.parse(inStr.replace(/-/g,"/"))}
			pointStart = dateOb("{{allOutputDataDict.timeStamps[0]}}")
			pointInterval = dateOb("{{allOutputDataDict.timeStamps[1]}}") - pointStart
		</script>
		<p class="reportTitle">Hourly Solar Generation</p>
		<div id="powerGenerationReport" class="tightContent">
			<div id="powerTimeSeries"></div>
			<div id="energyBalance"></div>
			<script>
				// Handle special case for inverter sizing:
				console.log("Inside Script")
				var jinjaInverterSizekW = parseFloat("{{ allInputDataDict.inverterSize | default(0) }}");
				var jinjaSystemSizekW = parseFloat("{{ allInputDataDict.systemSize | default(0) }}");
				var chartInverterkW = (jinjaInverterSizekW === 0) ? jinjaSystemSizekW : jinjaInverterSizekW;
				parseFloat({{allInputDataDict.systemSize}})*1000
				power = {{allOutputDataDict.Consumption['Power']}}
				powerSeries = [{"marker":{"enabled":false},"dataLabels":{"enabled":false}, "color":"red","data":power,"name":"Power Generated"}]
				new Highcharts.Chart({ "credits":{"enabled":false},
					"plotOptions":{ "series":{"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval, "animation": false}, "line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series":powerSeries,
					"tooltip": false,
					"yAxis":{"title":{"text":"Power (W-AC)","style":{"color":"gray"}},
						"min":0,
						"plotLines":[{"color": "orange",
							"dashStyle": "ShortDash",
							"width": 2,
							"label":{"text":"Panels Nameplate","align":"right","y":12,"x":0},
							"value": (jinjaSystemSizekW*1000),"zIndex": 10},
							{"color": "orange",
							"dashStyle": "ShortDash",
							"width": 2,
							"label":{"text":"Inverter Nameplate","align":"left","y":12,"x":0},
							"value": (chartInverterkW*1000),"zIndex": 10} ] },
					"chart":{"zoomType":"x","marginBottom":35,"width":1000,"height":250,"marginRight":20,"renderTo":"powerTimeSeries","type":"line"},
					"legend":false } )
			</script>
		</div>
		<p class="reportTitle">Irradiance</p>
		<div id="irradianceReport" class="tightContent">
			<div id="irradianceChartDiv"></div>
			<script>
				poai = {{allOutputDataDict["climate"]["Plane of Array Irradiance (W/m^2)"]}}
				bni = {{allOutputDataDict["climate"]["Beam Normal Irradiance (W/m^2)"]}}
				di = {{allOutputDataDict["climate"]["Diffuse Irradiance (W/m^2)"]}}
				irradianceSeriesData = [
					{"name":"Plane of Array Irradiance (W/m^2)","marker":{"enabled":false},"color":"yellow","data":poai},
					{"name":"Beam Normal Irradiance (W/m^2)","marker":{"enabled":false},"color":"gold","data":bni},
					{"name":"Diffuse Irradiance (W/m^2)","marker":{"enabled":false},"color":"lemonchiffon","data":di}
				]
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series":irradianceSeriesData,
					"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"irradianceChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle">Other Climate Variables</p>
		<div id="climateReport" class="tightContent">
			<div id="climateChartDiv"></div>
			<script>
				amt = {{allOutputDataDict["climate"]["Ambient Temperature (F)"]}}
				ct = {{allOutputDataDict["climate"]["Cell Temperature (F)"]}}
				ws = {{allOutputDataDict["climate"]["Wind Speed (m/s)"]}}
				climateSeriesData = [
					{"name":"Ambient Temperature (F)","marker":{"enabled":false},"color":"dimgray","data":amt},
					{"name":"Cell Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":ct},
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":ws}
				]
				new Highcharts.Chart(
					{"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series":climateSeriesData,
					"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}}
				)
			</script>
		</div>
		{{ rawOutputFiles }}
	</div>
	{% endif %}
</body>