<head>
	{{ omfHeaders }}
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	{% macro insert_file_upload_block(fileName, dataVariableName) -%}
		<input id="{{dataVariableName}}Handler" type="file" style="display:none" onchange="handle_files(this.files,'{{dataVariableName}}','{{fileName}}')">
		<input id="{{dataVariableName}}" name="{{dataVariableName}}" value="{{allInputDataDict[dataVariableName]}}" type="hidden">
		<div>
			<label for="{{dataVariableName}}Handler" class="fileButton">Choose File</label>
			<input id="{{fileName}}" name="{{fileName}}" value="{{allInputDataDict[fileName]}}" readonly class="uploadFileName">    
		</div>
	{%- endmacro %}
</head>
<body>
	{{ omfModelTitle }}
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<!-- Required Inputs -->
			<div class="shortInput">
				<label>Model Type <a href="/docs/Models-~-resilientCommunity" target="_blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" value="{{allInputDataDict.modelName}}"pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput">
				<label>User</label>
				<input type="text" id="user" name="user" value="{{allInputDataDict.user}}"readonly/>
			</div>
			<div class="shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" value="{{allInputDataDict.created}}"readonly/>
			</div>
			<div class="shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" value="{{allInputDataDict.runTime}}"readonly/>
			</div>
			<hr>
			<!-- NEW ADDITIONS -->
			<!-- Model Specific Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">System Parameters</p>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" value="{{allInputDataDict.feederName1}}" style="display:none">
			</div>
			<div class="shortInput">
				<label class="tooltip">Customer Information (.csv file)<span class="classic">Please see the documentation at the help link for the required format</span></label>
				<input id="customerFile" type="file" style="display:none" onchange="handle_files(this.files,'customerData','customerFileName')">
				<input id="customerData" name="customerData" value='{{allInputDataDict.customerData}}' type="hidden">
				<div>
					<label for="customerFile" class="fileButton">Choose File</label>
					<input id="customerFileName" name="customerFileName" value="{{allInputDataDict.customerFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Equipment Lifetime (.csv file)<span class="classic">Please see the documentation at the help link for the required format. To exclude all equipment lifetime info, upload a csv file with just headers and no column data to this field.</span></label>
				<input id="equipLifeFile" type="file" style="display:none" onchange="handle_files(this.files,'equipLifeData','equipLifeFileName')">
				<input id="equipLifeData" name="equipLifeData" value='{{allInputDataDict.equipLifeData}}' type="hidden">
				<div>
					<label for="equipLifeFile" class="fileButton">Choose File</label>
					<input id="equipLifeFileName" name="equipLifeFileName" value="{{allInputDataDict.equipLifeFileName}}" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Feeder Map Coloring By<span class="classic">Determines coloring of loads and equipment on the circuit.<br><br>To change coloring after running the model, go to the top right of the output map and click &quot;Edit&quot; -> &quot;Color circuit&quot;.</span></label>
				<select id="loadCol" name="loadCol" value="{{allInputDataDict.loadCol}}">
					<option value="Base Criticality Score" {% if allInputDataDict.loadCol == "Base Criticality Score" %}selected{% endif %}>Base Criticality Score </option>
					<option value="Locational Criticality Score" {% if allInputDataDict.loadCol == "Locational Criticality Score" %}selected{% endif %}>Locational Criticality Score</option>
					<option value="Base Criticality Index" {% if allInputDataDict.loadCol == "Base Criticality Index" %}selected{% endif %}>Base Criticality Index</option>
					<option value="Locational Criticality Index" {% if allInputDataDict.loadCol == "Locational Criticality Index" %}selected{% endif %}>Locational Criticality Index</option>
					<option value="Feeder Sections" {% if allInputDataDict.loadCol == "Feeder Sections" %}selected{% endif %}>Feeder Sections</option>
					<option value="None" {% if allInputDataDict.loadCol == "None" %}selected{% endif %}>No Node Coloring</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Average Peak Demand (kva)<span class="classic">Enter the average peak demand for a household in the area </span></label>
				<input type="number" name="averageDemand" id="averageDemand" value="{{allInputDataDict.averageDemand}}" min="0.01" step="0.01" required>
			</div>
			<hr>
			<div class="wideInput">
				<p class="inputSectionHeader">Include In Analysis</p>
			</div>
			<div class="shortInput">
				<label class="tooltip">Lines<span class="classic">Select Yes if you would like to include Lines in the analysis </span></label>
				<select name="lines" id="lines" value="{{allInputDataDict.lines}}">
					<option value="yes" {% if allInputDataDict.lines | lower == "yes" %}selected{% endif %} >Yes</option>
					<option value="no" {% if allInputDataDict.lines | lower != "yes" %}selected{% endif %}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Transformers<span class="classic">Select Yes if you would like to include Transformers in the analysis </span></label>
				<select name="transformers" id="transformers" value="{{allInputDataDict.transformers}}">
					<option value="yes" {% if allInputDataDict.transformers | lower == "yes" %}selected{% endif %}>Yes</option>
					<option value="no" {% if allInputDataDict.transformers | lower != "yes" %}selected{% endif %}>No</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Fuses <span class="classic">Select Yes if you would like to include Fuses in the analysis </span></label>
				<select name="fuses" id="fuses" value="{{allInputDataDict.fuses}}">
					<option value="yes" {% if allInputDataDict.fuses | lower == "yes" %}selected{% endif %}>Yes</option>
					<option value="no" {% if allInputDataDict.fuses | lower != "yes" %}selected{% endif %}>No</option>
				</select>
			</div>
			<hr>
			<div class="wideInput">
				<p class="inputSectionHeader">Outage Impact Potential (OIP)</p>
			</div>
			<div class="shortInput">
				<label class="tooltip">Aggregation Method<span class="classic">Determines how the properties whose weights are specified in &quot;Outage Impact Potential - Customer Variables&quot; and &quot;Outage Impact Potential - Weather Hazards Annualized Frequency&quot; are aggregated to create Outage Impact Potential (OIP).</span></label>
				<select id="oipAggMethod" name="oipAggMethod" value="{{allInputDataDict.oipAggMethod}}">
					<option value="Average of Min-Max-Normalized" {% if allInputDataDict.oipAggMethod == "Average of Min-Max-Normalized" %}selected{% endif %}>Average of Min-Max-Normalized</option>
					<option value="RMS of Min-Max-Normalized" {% if allInputDataDict.oipAggMethod == "RMS of Min-Max-Normalized" %}selected{% endif %}>RMS of Min-Max-Normalized</option>
				</select>
			</div>

			<style>
			.medInput {
				width: 60%;
				display: inline-block;
				box-sizing: border-box;
			}
			</style>
			<hr>
			<div class="wideInput">
				<p class="inputSectionHeader"><label class="tooltip">Outage Impact Potential - Customer Variables<span class="classic">These variables only apply to residential loads.<br><br>If any of these variables are given a non-zero weight, the analysis will be restricted to loads labeled residential in the Customer Information (.csv file) upload.</span></label></p>
			</div>
			{% set custVarList = [
				['% Age 16+ Employed', 'Percent of people in a blockgroup age 16+ who are employed<br><br>This variable is inverted when aggregating it with others since a higher value implies greater resiliency to outages', 'oip_employed'],
				['% Age 65+', 'Percent of people in a blockgroup age 65+', 'oip_age65'],
				['% Crowding', 'Percent of housing units in a blockgroup with more than 1.01 people per room', 'oip_crowding'],
				['% Individuals Below Poverty Level', 'Percent of people in a blockgroup classified as below the poverty level', 'oip_poverty'],
				['% Individuals Disabled', 'Percent of people in a blockgroup living with a disability', 'oip_disabled'],
				['% Limited English Speaking Households', 'Percent of limited English speaking households in a blockgroup', 'oip_lim_eng'],
				['% Mobile Home', 'Percent of housing units in a blockgroup that are mobile homes', 'oip_mobile'],
				['% Multi-Unit Structure', 'Percent of housing units in a blockgroup that are in structures containing 10 or more housing units','oip_multi'],
				['% No Vehicle', 'Percent of people in a blockgroup with no vehicle', 'oip_no_vehicle'],
				['% Non-HS Grads', 'Percent of people in a blockgroup age 25+ who are not high school graduates', 'oip_nongrad'],
				['% Non-Institutionalized Below Age 19', 'Percent of non-institutionalized people in a blockgroup below age 19', 'oip_below19'],
				['Avg Aggregate Household Income (USD)', 'Average aggregate household income (USD) for households in a blockgroup<br><br>This variable is inverted when aggregating it with others since a higher value implies greater resiliency to outages','oip_income']
			] %}
			{% for row in custVarList %}
			<div class="shortInput">
				<label class="tooltip">{{ row[0] }}<span class="classic">{{ row[1] }}</span></label>
			</div>
			<div class="medInput", style="display:inline-flex; align-items:center; gap:8px;">
				<label class="tooltip">Weight<span class="classic">Weight of each property relative to each other. To exclude a property, set this to 0.</span></label>
				<input type="number" name="{{ row[2] }}" id="{{ row[2] }}" value="{{ allInputDataDict[ row[2] ] }}" min="0" step="1" required>
			</div>
			{% endfor %}
			<hr>
			<div class="wideInput">
				<p class="inputSectionHeader"><label class="tooltip">Outage Impact Potential - Weather Hazards Annualized Frequency<span class="classic">These variables apply to all loads.<br><br>Including these variables will not impact what loads are analyzed.</span></label></p>
			</div>
			{% set weatherVarList = [
				['Avalanche', 'Annualized frequency of avalanche hazards in a blockgroup', 'oip_af_avln'],
				['Cold Wave', 'Annualized frequency of cold wave hazards in a blockgroup', 'oip_af_cwav'],
				['Drought', 'Annualized frequency of drought hazards in a blockgroup', 'oip_af_drgt'],
				['Earthquake', 'Annualized frequency of earthquake hazards in a blockgroup', 'oip_af_erqk'],
				['Hail', 'Annualized frequency of hail hazards in a blockgroup', 'oip_af_hail'],
				['Heat Wave', 'Annualized frequency of heat wave hazards in a blockgroup', 'oip_af_hwav'],
				['Hurricane', 'Annualized frequency of hurricane hazards in a blockgroup', 'oip_af_hrcn'],
				['Ice Storm', 'Annualized frequency of ice storm hazards in a blockgroup', 'oip_af_istm'],
				['Landslide', 'Annualized frequency of landslide hazards in a blockgroup', 'oip_af_lnds'],
				['Lightning', 'AnnualiZed frequency of lightning hazards in a blockgroup', 'oip_af_ltng'],
				['Strong Wind', 'Annualized frequency of strong wind hazards in a blockgroup', 'oip_af_swnd'],
				['Wildfire', 'Annualized frequency of wildfire hazards in a blockgroup', 'oip_af_wfir'],
				['Winter Weather', 'Annualized frequency of winter weather hazards in a blockgroup', 'oip_af_wntw']
			] %}
			{% for row in weatherVarList %}
			<div class="shortInput">
				<label class="tooltip">{{ row[0] }}<span class="classic">{{ row[1] }}</span></label>
			</div>
			<div class="medInput", style="display:inline-flex; align-items:center; gap:8px;">
				<label class="tooltip">Weight<span class="classic">Weight of each property relative to each other. To exclude a property, set this to 0. </span></label>
				<input type="number" name="{{ row[2] }}" id="{{ row[2] }}" value="{{ allInputDataDict[ row[2] ] }}" min="0" step="1" required>
			</div>
			{% endfor %}

			{{ omfModelButtons }}
		</form>
	</div>
	{{ omfRunDebugBlock }}
	{% if modelStatus == 'finished' %}
		<!-- Output tables, graphs, etc -->
	
	<div id="comparabilityDisclaimer" class="tightContent" style="text-align:center; padding-bottom: 35px; border:2px solid #2E8B57">
		<p class="reportTitle"><em><b>IMPORTANT</b></em></p>
		OIP Rating, OIP Index, LCS, LCI, and BCI values cannot be compared between this and another map.<br><br>All such values are calculated relative to each other and only apply within the geographical bounds of the system being analyzed.
	</div>

	{% if allOutputDataDict['rmMsgs'] != [] %}
	<div id="removalMessage" class="tightContent" style="text-align:center; padding-bottom: 35px; border:2px solid yellow">
		<p class="reportTitle"><em><b>NOTICE</b></em></p>
		{% for msg in allOutputDataDict['rmMsgs'] %}
		{{ msg }}{% if not loop.last %}<br><br>{% endif %}
		{% endfor %}
	</div>
	{% endif %}

	<p class="reportTitle" style="page-break-before:always"><label class="tooltip">Resilient Community Map<span class="classic">Shapes and circuit elements can be clicked to bring up tooltips with more information about them. <br><br>Shapes can be toggled by clicking the checkbox next to &quot;geoshapes.geojson&quot; <br><br>Feeder map coloring can be changed without rerunning the model by clicking in the top right corner: &quot;Edit&quot; -> &quot;Color circuit&quot;. <br><br>Circuit elements can be searched for by clicking in the top right corner: &quot;Edit&quot; -> &quot;Search objects&quot;. They can be visualized on the map by clicking &quot;Highlight search results&quot; in the top left. <br><br>See the wiki for more details.</span></label></p>
	<div id="resilienceMap" class="tightContent">
		<script>
			var mapContent = allOutputData["resilienceMap"];
			var iframe = document.createElement('iframe');
			iframe.style.width = '1000px';
			iframe.style.height = '1000px';
			iframe.style.borderRadius = '8px';
			iframe.style.border = 'none';
		
			const htmlContent = `
				<!DOCTYPE html>
				<html lang="en">
				<head>
					<meta charset="UTF-8">
					<title>Map and Legend</title>
					<style type="text/css">
						.my-legend .legend-title {
							text-align: left;
							margin-bottom: 8px;
							font-weight: bold;
							font-size: 90%;
						}
		
						.my-legend .legend-scale ul {
							margin: 0;
							padding: 0;
							float: left;
							list-style: none;
						}
		
						.my-legend .legend-scale ul li {
							display: block;
							float: left;
							width: 50px;
							margin-bottom: 6px;
							text-align: center;
							font-size: 70%;
							list-style: none;
						}
		
						.my-legend ul.legend-labels li span {
							display: block;
							float: left;
							height: 15px;
							width: 50px;
						}
		
						.my-legend .legend-source {
							font-size: 70%;
							color: #999;
							clear: both;
						}
		
						.my-legend a {
							color: #777;
						}
		
						.map-container {
							width: 100%;
							height: 90%;
						}
		
						.legend-container {
							width: 100%;
							height: 10%;
							position: absolute;
							bottom: 0;
						}
					</style>
				</head>
				<body>
					<div class="map-container">
						${mapContent}
					</div>
					<div class="legend-container">
						<div class="my-legend">
							<div class="legend-title">
								<p style="color:white; font-weight:bold; text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;">
									Outage Impact Potential Legend
								</p>
							</div>
							<div class="legend-scale">
								<ul class="legend-labels">
									<li>
										<span style="background:yellow;"></span>
										<p style="color:white; font-weight:bold; text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;">
											Very High
										</p>
									</li>
									<li>
										<span style="background:#83d54b;"></span>
										<p style="color:white; font-weight:bold; text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;">
											Rel. High
										</p>
									</li>
									<li>
										<span style="background:mediumspringgreen;"></span>
										<p style="color:white; font-weight:bold; text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;">
											Rel. Moderate
										</p>
									</li>
									<li>
										<span style="background:cyan;"></span>
										<p style="color:white; font-weight:bold; text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;">
											Rel. Low
										</p>
									</li>
									<li>
										<span style="background:blue;"></span>
										<p style="color:white; font-weight:bold; text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;">
											Very Low
										</p>
									</li>
									<li>
										<span style="background:#000000;"></span>
										<p style="color:white; font-weight:bold; text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;">
											Data Unavailable
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</body>
				</html>
			`;
		
			document.getElementById('resilienceMap').appendChild(iframe);
		
			iframe.contentWindow.document.open();
			iframe.contentWindow.document.write(htmlContent);
			iframe.contentWindow.document.close();
		</script>
		
		
	</div>

	<p class="reportTitle">Loads Data Table</p>
	<div id="traditionalLoadsTable" class="tightContent" style="height:300px; overflow-y: scroll;">
		<table style="width:100%; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;">
			<thead>
				<tr style="background-color: #f2f2f2; border-bottom: 2px solid #ddd;">
					{% for header in allOutputDataDict["loadTableHeadings"] %}
					<th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ header }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for values in allOutputDataDict["loadTableValues"] %}
				<tr style="border-bottom: 1px solid #ddd;">
					{% for val in values %}
					<td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ val }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

<p class="reportTitle">Equipment Data Table</p>
<div id="traditionalObjectsTable" class="tightContent" style="height:300px; overflow-y: scroll;">
    <table style="width:100%; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;">
        <thead>
            <tr style="background-color: #f2f2f2; border-bottom: 2px solid #ddd;">
                {% for header in allOutputDataDict["loadTableHeadings2"] %}
                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for values in allOutputDataDict["loadTableValues2"] %}
            <tr style="border-bottom: 1px solid #ddd;">
                {% for val in values %}
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p class="reportTitle"><label class="tooltip">Sections Data Table<span class="classic">Sections are portions of the feeder that can be isolated from each other by opening switches. <br><br>Sections can be easily visualized by changing the feeder map coloring to &quot;Feeder Sections&quot;. <br><br>Metrics in this table are the mean values across loads in each section. The measures &quot;Load Count&quot; and &quot;Load Amount (kva)&quot; are total values across loads in each section.</span></label></p>
<div id="traditionalSectionsTable" class="tightContent" style="height:300px; overflow-y: scroll;">
    <table style="width:100%; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;">
        <thead>
            <tr style="background-color: #f2f2f2; border-bottom: 2px solid #ddd;">
                {% for header in allOutputDataDict["loadTableHeadings3"] %}
                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for values in allOutputDataDict["loadTableValues3"] %}
            <tr style="border-bottom: 1px solid #ddd;">
                {% for val in values %}
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

			{{ rawOutputFiles }}
		</div>
	{% endif %}
</body>
